body {
   margin: 0;
   text-align: center;
   font-family: 'Merriweather', serif;
   color: #40514E;
}
h1 {
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 0;
  font-family: 'Dancing Script', cursive;
  color: #00909e;
}
p {
    line-height: 2;
}
h2{
  font-family: 'Merriweather', serif;
  color: #F88017;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
     /*   #00909e; */
     /* 'PT Serif', serif; */
}
h3 {
  color: red;
}
hr {
  border-style: dotted;
  border-color: grey;
  border-width: 5px 0 0 0;
  margin: 50px auto;
}

/****classes******/

.toppest {
  /* background-color:  #1dd3bd; */
  padding-top: 100px;
  position: relative;
  background-image: url(https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg?cs=srgb&dl=pexels-oleg-magni-1005644.jpg&fm=jpg);
  padding-bottom: 10%;
  margin-top: 1px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* https://images.pexels.com/photos/248515/pexels-photo-248515.png?cs=srgb&dl=pexels-pixabay-248515.jpg&fm=jpg */
}
.middle-container {
  margin: 60px 0 60px 0;

}

 .bottom-container {
   background-color: #66BFBF;
   padding-top: 30px;
   padding-bottom: 5px;
}

.pro {text-decoration: underline;

}

.intro {
  width: 50%;
  margin:auto;
}

.footer {
  margin: 5px auto 50px;
}

.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.topcloud {
  position:absolute;
  top: 50px;
  right: 300px;
}

.pro-pic {
  height:200px;
}

.footer-link {
  color: #184d47;
  font-family: 'Merriweather', serif;
  margin: 10px 20px;
  text-decoration: none;
}
.footer-link:hover {
  color: #EAF6F6;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.burgers {
  float: left;
  margin-right: 30px;
  width: 25%;
}
.hotwings {
  float: right;
  width: 25%;
  margin-left: 30px;
}

.btn {
  background-color: #2bb2bb;
}
.contact-me {
  padding-bottom: 20px;
  margin-top: 80px;
}
.name {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}



.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}



.crick-skill {

    float: left;
    margin-right: 30px;
    width: 35%;

}



#resume {
  margin: 0;
  text-align: left;
  font-family: 'Merriweather', serif;
  color: #40514E;
  padding-left: 3%;


}

#line {

  border-style: dashed;
  border-color: black;
  border-width: 1px 0 0 0;
  margin: 10px auto;
}

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}



#last-container {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  background-color: white;

}


.testimonials-image {
  width: 50%;
  margin: 20px 20PX 20px 20px;
}
 .image {
   width: 59.3%;
   margin: 20px 20PX 20px 20px;
   height: 60%;
 }
 .images {
   width: 25%;
   margin: 20px 20PX 20px 20px;
   height: 60%;


 }
